.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
  }
  
  .ad-container {
    text-align: center;
  }
  
  .ad-image {
    max-width: 100%; /* 이미지 크기 자동 조정 */
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .ad-placeholder {
    font-size: 18px;
    color: #777;
    font-weight: bold;
    text-align: center;
  }
  